openapi: 3.0.2
info:
  title: Fyno Rest Fire an Event Manage User Profiles API
  version: v1
servers:
- url: https://api.fyno.io/v1
security:
- BearerAuth: []
tags:
- name: Manage User Profiles
paths:
  /{WSID}/{version}/profiles:
    post:
      tags:
      - Manage User Profiles
      summary: Create user profile
      description: This API enables you to create a user profile within Fyno, which you can then use to send out notifications.<br/><br/>Before creating your first user profile, you should obtain the following values needed for authentication:<br/>- API Key<br/>- Workspace ID
      parameters:
      - name: WSID
        in: path
        description: Enter your workspace ID. You can obtain this value from the API Keys page within your Fyno account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: FYXXXXXXXX
      - name: version
        in: path
        description: Specify the version for which you would like to manage the user profile.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: live
          enum:
          - live
          - test
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/version_profiles_body'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/ProfileCreatedSuccessfully'
        '400':
          $ref: '#/components/responses/DistinctIDAlreadyExists'
        '401':
          $ref: '#/components/responses/APIKeyInvalid'
  /{WSID}/{version}/profiles/{distinct_id}:
    get:
      tags:
      - Manage User Profiles
      summary: Get user profile
      description: This API enables you to get an existing user profile.
      parameters:
      - name: WSID
        in: path
        description: Enter your workspace ID. You can obtain this value from the API Keys page within your Fyno account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: FYXXXXXXXX
      - name: version
        in: path
        description: Specify the version for which you would like to manage the user profile.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: live
          enum:
          - live
          - test
      - name: distinct_id
        in: path
        description: Enter the distinct ID that you currently use to identify the user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: XXXXXXXX
      responses:
        '200':
          $ref: '#/components/responses/ProfileFetched'
        '400':
          $ref: '#/components/responses/DistinctIDDoesNotExist'
        '401':
          $ref: '#/components/responses/APIKeyInvalid'
    put:
      tags:
      - Manage User Profiles
      summary: Update user profile
      description: This API enables you to update an existing user profile. It updates the entire user profile including `distinct_id` (if specified).<br/><br/>**Note&#58;** If there were existing values in the profile, they will be completely replaced (if those keys are passed) or ignored (if those keys are not passed).
      parameters:
      - name: WSID
        in: path
        description: Enter your workspace ID. You can obtain this value from the API Keys page within your Fyno account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: FYXXXXXXXX
      - name: version
        in: path
        description: Specify the version for which you would like to manage the user profile.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: live
          enum:
          - live
          - test
      - name: distinct_id
        in: path
        description: Enter the distinct ID that you currently use to identify the user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: XXXXXXXX
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profiles_distinct_id_body'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ProfileUpdated'
        '400':
          $ref: '#/components/responses/DistinctIDDoesNotExist3'
        '401':
          $ref: '#/components/responses/APIKeyInvalid'
  /{WSID}/{version}/profiles/{source_distinct_id}/merge/{target_distinct_id}:
    patch:
      tags:
      - Manage User Profiles
      summary: Merge user profiles
      description: This API enables you to merge the attributes of a user profile to another user profile. The profile with source distinct ID is merged with the target profile, after which the source profile is automatically deleted. If the target distinct ID does not exist, the source distinct ID is updated to target distinct ID.
      parameters:
      - name: WSID
        in: path
        description: Enter your workspace ID. You can obtain this value from the API Keys page within your Fyno account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: FYXXXXXXXX
      - name: version
        in: path
        description: Specify the version for which you would like to manage the user profile.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: live
          enum:
          - live
          - test
      - name: source_distinct_id
        in: path
        description: Enter the source distinct ID that you wish to merge from.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: XXXXXXXX
      - name: target_distinct_id
        in: path
        description: Enter the target distinct ID to which the profile should merge into.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: XXXXXXXX
      responses:
        '200':
          $ref: '#/components/responses/ProfileMergedSuccessfully'
        '400':
          $ref: '#/components/responses/SourceDistinctIDDoesNotExist'
        '401':
          $ref: '#/components/responses/APIKeyInvalid'
  /{WSID}/{version}/profiles/delete:
    post:
      tags:
      - Manage User Profiles
      summary: Delete user profile
      description: This API enables you to delete existing user profiles by using `distinct_id`.
      parameters:
      - name: WSID
        in: path
        description: Enter your workspace ID. You can obtain this value from the API Keys page within your Fyno account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: FYXXXXXXXX
      - name: version
        in: path
        description: Specify the version for which you would like to manage the user profile.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: live
          enum:
          - live
          - test
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profiles_delete_body'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ProfileDeletedSuccessfully'
        '400':
          $ref: '#/components/responses/DistinctIDDoesNotExist2'
        '401':
          $ref: '#/components/responses/APIKeyInvalid'
  /{WSID}/{version}/profiles/{distinct_id}/channel:
    patch:
      tags:
      - Manage User Profiles
      summary: Add/Update channel data
      description: This API enables you to update existing data for `sms`, `whatsapp`, `email`, `slack`, `discord`, and `teams` channels, and add new tokens for `push` and `inapp` channels. It works like an update for channels that can hold a single destination only and like an insert for channels that can hold multiple destinations/tokens.
      parameters:
      - name: WSID
        in: path
        description: Enter your workspace ID. You can obtain this value from the API Keys page within your Fyno account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: FYXXXXXXXX
      - name: version
        in: path
        description: Specify the version for which you would like to manage the user profile.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: live
          enum:
          - live
          - test
      - name: distinct_id
        in: path
        description: Enter the distinct ID that you currently use to identify the user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: XXXXXXXX
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/distinct_id_channel_body'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ProfileChannelUpdated'
        '400':
          $ref: '#/components/responses/DistinctIDDoesNotExist'
        '401':
          $ref: '#/components/responses/APIKeyInvalid'
  /{WSID}/{version}/profiles/{distinct_id}/channel/delete:
    post:
      tags:
      - Manage User Profiles
      summary: Delete channel data
      description: This API enables you to delete existing data for all channels. You can use either of the following approaches&#58;<br/><br/>- **Option 1&#58;** Use the `channel` key in the payload to delete all tokens in the specified channel.<br/>-  **Option 2&#58;** Use the `push` and `inapp` keys in the payload to delete specific tokens in these channels.<br/><br/>**Note&#58;** You can use either option 1 or option 2. It is not allowed to use both approaches in one request.
      parameters:
      - name: WSID
        in: path
        description: Enter your workspace ID. You can obtain this value from the API Keys page within your Fyno account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: FYXXXXXXXX
      - name: version
        in: path
        description: Specify the version for which you would like to manage the user profile.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: live
          enum:
          - live
          - test
      - name: distinct_id
        in: path
        description: Enter the distinct ID that you currently use to identify the user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: XXXXXXXX
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/channel_delete_body'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ProfileChannelUpdated'
        '400':
          $ref: '#/components/responses/DistinctIDOrChannelDataDoesNotExist'
        '401':
          $ref: '#/components/responses/APIKeyInvalid'
components:
  schemas:
    profiles_delete_body:
      properties:
        distinct_id:
          description: Enter the `distinct_id` of all user profiles that you wish to delete.
          example:
          - U00001
          - U00002
          items:
            example: '["U00001","U00002"]'
            type: string
          type: array
      required:
      - distinct_id
      type: object
    profiles_distinct_id_body:
      properties:
        channel:
          $ref: '#/components/schemas/WSIDversionprofilesdistinct_id_channel'
        distinct_id:
          description: (Optional) Enter the new distinct ID that you wish to use to identify the user. If you do not wish to change this value, remove this key from the payload.
          example: new_distinct_id
          type: string
        name:
          description: (Optional) Enter the new full name of the user. If you do not wish to change this value, remove this key from the payload.
          example: John Doe
          type: string
        status:
          description: (Optional) Enter 1 to change the user's status to active so that the user can receive notifications. Enter 0 to change the user's status to inactive so that the user does not receive any notification. If you do not wish to change this value, remove this key from the payload. If null, the default value is 1.
          enum:
          - 1
          - 0
          type: integer
        timezone:
          description: (Optional) Enter the new timezone of the user. For a list of possible values, please <a href="https://content.fyno.io/docs/files/timezones.json" target="_blank">click here</a>.
          enum:
          - Africa/Abidjan
          - Africa/Accra
          - Africa/Addis_Ababa
          - Africa/Algiers
          - Africa/Asmara
          - Africa/Asmera
          - Africa/Bamako
          - Africa/Bangui
          - Africa/Banjul
          - Africa/Bissau
          - Africa/Blantyre
          - Africa/Brazzaville
          - Africa/Bujumbura
          - Africa/Cairo
          - Africa/Casablanca
          - Africa/Ceuta
          - Africa/Conakry
          - Africa/Dakar
          - Africa/Dar_es_Salaam
          - Africa/Djibouti
          - Africa/Douala
          - Africa/El_Aaiun
          - Africa/Freetown
          - Africa/Gaborone
          - Africa/Harare
          - Africa/Johannesburg
          - Africa/Juba
          - Africa/Kampala
          - Africa/Khartoum
          - Africa/Kigali
          - Africa/Kinshasa
          - Africa/Lagos
          - Africa/Libreville
          - Africa/Lome
          - Africa/Luanda
          - Africa/Lubumbashi
          - Africa/Lusaka
          - Africa/Malabo
          - Africa/Maputo
          - Africa/Maseru
          - Africa/Mbabane
          - Africa/Mogadishu
          - Africa/Monrovia
          - Africa/Nairobi
          - Africa/Ndjamena
          - Africa/Niamey
          - Africa/Nouakchott
          - Africa/Ouagadougou
          - Africa/Porto-Novo
          - Africa/Sao_Tome
          - Africa/Timbuktu
          - Africa/Tripoli
          - Africa/Tunis
          - Africa/Windhoek
          - America/Adak
          - America/Anchorage
          - America/Anguilla
          - America/Antigua
          - America/Araguaina
          - America/Argentina/Buenos_Aires
          - America/Argentina/Catamarca
          - America/Argentina/ComodRivadavia
          - America/Argentina/Cordoba
          - America/Argentina/Jujuy
          - America/Argentina/La_Rioja
          - America/Argentina/Mendoza
          - America/Argentina/Rio_Gallegos
          - America/Argentina/Salta
          - America/Argentina/San_Juan
          - America/Argentina/San_Luis
          - America/Argentina/Tucuman
          - America/Argentina/Ushuaia
          - America/Aruba
          - America/Asuncion
          - America/Atikokan
          - America/Atka
          - America/Bahia
          - America/Bahia_Banderas
          - America/Barbados
          - America/Belem
          - America/Belize
          - America/Blanc-Sablon
          - America/Boa_Vista
          - America/Bogota
          - America/Boise
          - America/Buenos_Aires
          - America/Cambridge_Bay
          - America/Campo_Grande
          - America/Cancun
          - America/Caracas
          - America/Catamarca
          - America/Cayenne
          - America/Cayman
          - America/Chicago
          - America/Chihuahua
          - America/Coral_Harbour
          - America/Cordoba
          - America/Costa_Rica
          - America/Creston
          - America/Cuiaba
          - America/Curacao
          - America/Danmarkshavn
          - America/Dawson
          - America/Dawson_Creek
          - America/Denver
          - America/Detroit
          - America/Dominica
          - America/Edmonton
          - America/Eirunepe
          - America/El_Salvador
          - America/Ensenada
          - America/Fort_Nelson
          - America/Fort_Wayne
          - America/Fortaleza
          - America/Glace_Bay
          - America/Godthab
          - America/Goose_Bay
          - America/Grand_Turk
          - America/Grenada
          - America/Guadeloupe
          - America/Guatemala
          - America/Guayaquil
          - America/Guyana
          - America/Halifax
          - America/Havana
          - America/Hermosillo
          - America/Indiana/Indianapolis
          - America/Indiana/Knox
          - America/Indiana/Marengo
          - America/Indiana/Petersburg
          - America/Indiana/Tell_City
          - America/Indiana/Vevay
          - America/Indiana/Vincennes
          - America/Indiana/Winamac
          - America/Indianapolis
          - America/Inuvik
          - America/Iqaluit
          - America/Jamaica
          - America/Jujuy
          - America/Juneau
          - America/Kentucky/Louisville
          - America/Kentucky/Monticello
          - America/Knox_IN
          - America/Kralendijk
          - America/La_Paz
          - America/Lima
          - America/Los_Angeles
          - America/Louisville
          - America/Lower_Princes
          - America/Maceio
          - America/Managua
          - America/Manaus
          - America/Marigot
          - America/Martinique
          - America/Matamoros
          - America/Mazatlan
          - America/Mendoza
          - America/Menominee
          - America/Merida
          - America/Metlakatla
          - America/Mexico_City
          - America/Miquelon
          - America/Moncton
          - America/Monterrey
          - America/Montevideo
          - America/Montreal
          - America/Montserrat
          - America/Nassau
          - America/New_York
          - America/Nipigon
          - America/Nome
          - America/Noronha
          - America/North_Dakota/Beulah
          - America/North_Dakota/Center
          - America/North_Dakota/New_Salem
          - America/Nuuk
          - America/Ojinaga
          - America/Panama
          - America/Pangnirtung
          - America/Paramaribo
          - America/Phoenix
          - America/Port-au-Prince
          - America/Port_of_Spain
          - America/Porto_Acre
          - America/Porto_Velho
          - America/Puerto_Rico
          - America/Punta_Arenas
          - America/Rainy_River
          - America/Rankin_Inlet
          - America/Recife
          - America/Regina
          - America/Resolute
          - America/Rio_Branco
          - America/Rosario
          - America/Santa_Isabel
          - America/Santarem
          - America/Santiago
          - America/Santo_Domingo
          - America/Sao_Paulo
          - America/Scoresbysund
          - America/Shiprock
          - America/Sitka
          - America/St_Barthelemy
          - America/St_Johns
          - America/St_Kitts
          - America/St_Lucia
          - America/St_Thomas
          - America/St_Vincent
          - America/Swift_Current
          - America/Tegucigalpa
          - America/Thule
          - America/Thunder_Bay
          - America/Tijuana
          - America/Toronto
          - America/Tortola
          - America/Vancouver
          - America/Virgin
          - America/Whitehorse
          - America/Winnipeg
          - America/Yakutat
          - America/Yellowknife
          - Antarctica/Casey
          - Antarctica/Davis
          - Antarctica/DumontDUrville
          - Antarctica/Macquarie
          - Antarctica/Mawson
          - Antarctica/McMurdo
          - Antarctica/Palmer
          - Antarctica/Rothera
          - Antarctica/South_Pole
          - Antarctica/Syowa
          - Antarctica/Troll
          - Antarctica/Vostok
          - Arctic/Longyearbyen
          - Asia/Aden
          - Asia/Almaty
          - Asia/Amman
          - Asia/Anadyr
          - Asia/Aqtau
          - Asia/Aqtobe
          - Asia/Ashgabat
          - Asia/Ashkhabad
          - Asia/Atyrau
          - Asia/Baghdad
          - Asia/Bahrain
          - Asia/Baku
          - Asia/Bangkok
          - Asia/Barnaul
          - Asia/Beirut
          - Asia/Bishkek
          - Asia/Brunei
          - Asia/Calcutta
          - Asia/Chita
          - Asia/Choibalsan
          - Asia/Chongqing
          - Asia/Chungking
          - Asia/Colombo
          - Asia/Dacca
          - Asia/Damascus
          - Asia/Dhaka
          - Asia/Dili
          - Asia/Dubai
          - Asia/Dushanbe
          - Asia/Famagusta
          - Asia/Gaza
          - Asia/Harbin
          - Asia/Hebron
          - Asia/Ho_Chi_Minh
          - Asia/Hong_Kong
          - Asia/Hovd
          - Asia/Irkutsk
          - Asia/Istanbul
          - Asia/Jakarta
          - Asia/Jayapura
          - Asia/Jerusalem
          - Asia/Kabul
          - Asia/Kamchatka
          - Asia/Karachi
          - Asia/Kashgar
          - Asia/Kathmandu
          - Asia/Katmandu
          - Asia/Khandyga
          - Asia/Kolkata
          - Asia/Krasnoyarsk
          - Asia/Kuala_Lumpur
          - Asia/Kuching
          - Asia/Kuwait
          - Asia/Macao
          - Asia/Macau
          - Asia/Magadan
          - Asia/Makassar
          - Asia/Manila
          - Asia/Muscat
          - Asia/Nicosia
          - Asia/Novokuznetsk
          - Asia/Novosibirsk
          - Asia/Omsk
          - Asia/Oral
          - Asia/Phnom_Penh
          - Asia/Pontianak
          - Asia/Pyongyang
          - Asia/Qatar
          - Asia/Qostanay
          - Asia/Qyzylorda
          - Asia/Rangoon
          - Asia/Riyadh
          - Asia/Saigon
          - Asia/Sakhalin
          - Asia/Samarkand
          - Asia/Seoul
          - Asia/Shanghai
          - Asia/Singapore
          - Asia/Srednekolymsk
          - Asia/Taipei
          - Asia/Tashkent
          - Asia/Tbilisi
          - Asia/Tehran
          - Asia/Tel_Aviv
          - Asia/Thimbu
          - Asia/Thimphu
          - Asia/Tokyo
          - Asia/Tomsk
          - Asia/Ujung_Pandang
          - Asia/Ulaanbaatar
          - Asia/Ulan_Bator
          - Asia/Urumqi
          - Asia/Ust-Nera
          - Asia/Vientiane
          - Asia/Vladivostok
          - Asia/Yakutsk
          - Asia/Yangon
          - Asia/Yekaterinburg
          - Asia/Yerevan
          - Atlantic/Azores
          - Atlantic/Bermuda
          - Atlantic/Canary
          - Atlantic/Cape_Verde
          - Atlantic/Faeroe
          - Atlantic/Faroe
          - Atlantic/Jan_Mayen
          - Atlantic/Madeira
          - Atlantic/Reykjavik
          - Atlantic/South_Georgia
          - Atlantic/St_Helena
          - Atlantic/Stanley
          - Australia/ACT
          - Australia/Adelaide
          - Australia/Brisbane
          - Australia/Broken_Hill
          - Australia/Canberra
          - Australia/Currie
          - Australia/Darwin
          - Australia/Eucla
          - Australia/Hobart
          - Australia/LHI
          - Australia/Lindeman
          - Australia/Lord_Howe
          - Australia/Melbourne
          - Australia/North
          - Australia/NSW
          - Australia/Perth
          - Australia/Queensland
          - Australia/South
          - Australia/Sydney
          - Australia/Tasmania
          - Australia/Victoria
          - Australia/West
          - Australia/Yancowinna
          - Brazil/Acre
          - Brazil/DeNoronha
          - Brazil/East
          - Brazil/West
          - Canada/Atlantic
          - Canada/Central
          - Canada/Eastern
          - Canada/Mountain
          - Canada/Newfoundland
          - Canada/Pacific
          - Canada/Saskatchewan
          - Canada/Yukon
          - CET
          - Chile/Continental
          - Chile/EasterIsland
          - CST6CDT
          - Cuba
          - EET
          - Egypt
          - Eire
          - EST
          - EST5EDT
          - Etc/GMT+0
          - Etc/GMT+1
          - Etc/GMT+10
          - Etc/GMT+11
          - Etc/GMT+12
          - Etc/GMT+2
          - Etc/GMT+3
          - Etc/GMT+4
          - Etc/GMT+5
          - Etc/GMT+6
          - Etc/GMT+7
          - Etc/GMT+8
          - Etc/GMT+9
          - Etc/GMT
          - Etc/GMT-0
          - Etc/GMT-1
          - Etc/GMT-10
          - Etc/GMT-11
          - Etc/GMT-12
          - Etc/GMT-13
          - Etc/GMT-14
          - Etc/GMT-2
          - Etc/GMT-3
          - Etc/GMT-4
          - Etc/GMT-5
          - Etc/GMT-6
          - Etc/GMT-7
          - Etc/GMT-8
          - Etc/GMT-9
          - Etc/GMT0
          - Etc/Greenwich
          - Etc/UCT
          - Etc/Universal
          - Etc/UTC
          - Etc/Zulu
          - Europe/Amsterdam
          - Europe/Andorra
          - Europe/Astrakhan
          - Europe/Athens
          - Europe/Belfast
          - Europe/Belgrade
          - Europe/Berlin
          - Europe/Bratislava
          - Europe/Brussels
          - Europe/Bucharest
          - Europe/Budapest
          - Europe/Busingen
          - Europe/Chisinau
          - Europe/Copenhagen
          - Europe/Dublin
          - Europe/Gibraltar
          - Europe/Guernsey
          - Europe/Helsinki
          - Europe/Isle_of_Man
          - Europe/Istanbul
          - Europe/Jersey
          - Europe/Kaliningrad
          - Europe/Kiev
          - Europe/Kirov
          - Europe/Lisbon
          - Europe/Ljubljana
          - Europe/London
          - Europe/Luxembourg
          - Europe/Madrid
          - Europe/Malta
          - Europe/Mariehamn
          - Europe/Minsk
          - Europe/Monaco
          - Europe/Moscow
          - Europe/Nicosia
          - Europe/Oslo
          - Europe/Paris
          - Europe/Podgorica
          - Europe/Prague
          - Europe/Riga
          - Europe/Rome
          - Europe/Samara
          - Europe/San_Marino
          - Europe/Sarajevo
          - Europe/Saratov
          - Europe/Simferopol
          - Europe/Skopje
          - Europe/Sofia
          - Europe/Stockholm
          - Europe/Tallinn
          - Europe/Tirane
          - Europe/Tiraspol
          - Europe/Ulyanovsk
          - Europe/Uzhgorod
          - Europe/Vaduz
          - Europe/Vatican
          - Europe/Vienna
          - Europe/Vilnius
          - Europe/Volgograd
          - Europe/Warsaw
          - Europe/Zagreb
          - Europe/Zaporozhye
          - Europe/Zurich
          - GB
          - GB-Eire
          - GMT+0
          - GMT
          - GMT-0
          - GMT0
          - Greenwich
          - Hongkong
          - HST
          - Iceland
          - Indian/Antananarivo
          - Indian/Chagos
          - Indian/Christmas
          - Indian/Cocos
          - Indian/Comoro
          - Indian/Kerguelen
          - Indian/Mahe
          - Indian/Maldives
          - Indian/Mauritius
          - Indian/Mayotte
          - Indian/Reunion
          - Iran
          - Israel
          - Jamaica
          - Japan
          - Kwajalein
          - Libya
          - MET
          - Mexico/BajaNorte
          - Mexico/BajaSur
          - Mexico/General
          - MST
          - MST7MDT
          - Navajo
          - NZ
          - NZ-CHAT
          - Pacific/Apia
          - Pacific/Auckland
          - Pacific/Bougainville
          - Pacific/Chatham
          - Pacific/Chuuk
          - Pacific/Easter
          - Pacific/Efate
          - Pacific/Enderbury
          - Pacific/Fakaofo
          - Pacific/Fiji
          - Pacific/Funafuti
          - Pacific/Galapagos
          - Pacific/Gambier
          - Pacific/Guadalcanal
          - Pacific/Guam
          - Pacific/Honolulu
          - Pacific/Johnston
          - Pacific/Kanton
          - Pacific/Kiritimati
          - Pacific/Kosrae
          - Pacific/Kwajalein
          - Pacific/Majuro
          - Pacific/Marquesas
          - Pacific/Midway
          - Pacific/Nauru
          - Pacific/Niue
          - Pacific/Norfolk
          - Pacific/Noumea
          - Pacific/Pago_Pago
          - Pacific/Palau
          - Pacific/Pitcairn
          - Pacific/Pohnpei
          - Pacific/Ponape
          - Pacific/Port_Moresby
          - Pacific/Rarotonga
          - Pacific/Saipan
          - Pacific/Samoa
          - Pacific/Tahiti
          - Pacific/Tarawa
          - Pacific/Tongatapu
          - Pacific/Truk
          - Pacific/Wake
          - Pacific/Wallis
          - Pacific/Yap
          - Poland
          - Portugal
          - PRC
          - PST8PDT
          - ROC
          - ROK
          - Singapore
          - Turkey
          - UCT
          - Universal
          - US/Alaska
          - US/Aleutian
          - US/Arizona
          - US/Central
          - US/East-Indiana
          - US/Eastern
          - US/Hawaii
          - US/Indiana-Starke
          - US/Michigan
          - US/Mountain
          - US/Pacific
          - US/Samoa
          - UTC
          - W-SU
          - WET
          - Zulu
          example: Asia/Kolkata
          type: string
      type: object
    inline_response_200_channel:
      properties:
        discord:
          description: The discord ID of the user.
          example: 101XXXXXXXXXX7XXXXX
          type: string
        email:
          description: The email address of the user.
          example: abcde@fghi.com
          type: string
        inapp:
          items:
            $ref: '#/components/schemas/inline_response_200_channel_inapp'
          type: array
        push:
          items:
            $ref: '#/components/schemas/inline_response_200_channel_push'
          type: array
        slack:
          description: The channel ID, user ID, or email address of the user.
          example: CXXXXXXXXXX
          type: string
        sms:
          description: The mobile number of the user.
          example: +91 9879X XXXXX
          type: string
        teams:
          description: The channel name.
          example: General
          type: string
        voice:
          description: The mobile number of the user.
          example: +91 9879X XXXXX
          type: string
        whatsapp:
          description: The WhatsApp mobile number of the user.
          example: +91 9879X XXXXX
          type: string
      type: object
    WSIDversionprofilesdistinct_id_channel:
      description: (Optional) If you do not wish to change any channel values, remove this key from the payload. **Note&#58;** If you change any value in the `channel` key, the entire channel data is replaced.
      properties:
        discord:
          description: Enter the new discord ID of the user.
          example: 101XXXXXXXXXX7XXXXX
          type: string
        email:
          description: Enter the new email address of the user.
          example: abcde@fghi.com
          type: string
        inapp:
          items:
            $ref: '#/components/schemas/WSIDversionprofilesdistinct_id_channel_inapp'
          type: array
        push:
          items:
            $ref: '#/components/schemas/WSIDversionprofilesdistinct_id_channel_push'
          type: array
        slack:
          description: Enter the new channel ID, user ID, or email address of the user.
          example: CXXXXXXXXXX
          type: string
        sms:
          description: Enter the new mobile number of the user. The number must start with the country code (preferably in E.164 format). For example&#58; +919879XXXXXX.
          example: +919879XXXXXX
          type: string
        teams:
          description: Enter the new channel name. For teams, we currently support sending to one channel only. To send to multiple channels, do get in touch and we can share a workaround.
          example: General
          type: string
        voice:
          description: Enter the new mobile number of the user. The number must start with the country code (preferably in E.164 format). For example&#58; +919879XXXXXX.
          example: +919879XXXXXX
          type: string
        whatsapp:
          description: Enter the new WhatsApp mobile number of the user. The number must start with the country code (preferably in E.164 format). For example&#58; +919879XXXXXX
          example: +919879XXXXXX
          type: string
      type: object
    version_profiles_body:
      properties:
        channel:
          $ref: '#/components/schemas/WSIDversionprofiles_channel'
        distinct_id:
          description: Enter the distinct ID that you use to identify the user.
          example: XXXXXXXX
          type: string
        name:
          description: (Optional) Enter the full name of the user.
          example: John Doe
          type: string
        status:
          description: (Optional) Enter 1 to specify that the user is active and should receive notifications. Enter 0 to specify that the user in inactive and should not receive any notifications. If null, the default value is 1.
          enum:
          - 1
          - 0
          type: integer
        timezone:
          description: (Optional) Enter the timezone of the user. For a list of possible values, please <a href="https://content.fyno.io/docs/files/timezones.json" target="_blank">click here</a>.
          enum:
          - Africa/Abidjan
          - Africa/Accra
          - Africa/Addis_Ababa
          - Africa/Algiers
          - Africa/Asmara
          - Africa/Asmera
          - Africa/Bamako
          - Africa/Bangui
          - Africa/Banjul
          - Africa/Bissau
          - Africa/Blantyre
          - Africa/Brazzaville
          - Africa/Bujumbura
          - Africa/Cairo
          - Africa/Casablanca
          - Africa/Ceuta
          - Africa/Conakry
          - Africa/Dakar
          - Africa/Dar_es_Salaam
          - Africa/Djibouti
          - Africa/Douala
          - Africa/El_Aaiun
          - Africa/Freetown
          - Africa/Gaborone
          - Africa/Harare
          - Africa/Johannesburg
          - Africa/Juba
          - Africa/Kampala
          - Africa/Khartoum
          - Africa/Kigali
          - Africa/Kinshasa
          - Africa/Lagos
          - Africa/Libreville
          - Africa/Lome
          - Africa/Luanda
          - Africa/Lubumbashi
          - Africa/Lusaka
          - Africa/Malabo
          - Africa/Maputo
          - Africa/Maseru
          - Africa/Mbabane
          - Africa/Mogadishu
          - Africa/Monrovia
          - Africa/Nairobi
          - Africa/Ndjamena
          - Africa/Niamey
          - Africa/Nouakchott
          - Africa/Ouagadougou
          - Africa/Porto-Novo
          - Africa/Sao_Tome
          - Africa/Timbuktu
          - Africa/Tripoli
          - Africa/Tunis
          - Africa/Windhoek
          - America/Adak
          - America/Anchorage
          - America/Anguilla
          - America/Antigua
          - America/Araguaina
          - America/Argentina/Buenos_Aires
          - America/Argentina/Catamarca
          - America/Argentina/ComodRivadavia
          - America/Argentina/Cordoba
          - America/Argentina/Jujuy
          - America/Argentina/La_Rioja
          - America/Argentina/Mendoza
          - America/Argentina/Rio_Gallegos
          - America/Argentina/Salta
          - America/Argentina/San_Juan
          - America/Argentina/San_Luis
          - America/Argentina/Tucuman
          - America/Argentina/Ushuaia
          - America/Aruba
          - America/Asuncion
          - America/Atikokan
          - America/Atka
          - America/Bahia
          - America/Bahia_Banderas
          - America/Barbados
          - America/Belem
          - America/Belize
          - America/Blanc-Sablon
          - America/Boa_Vista
          - America/Bogota
          - America/Boise
          - America/Buenos_Aires
          - America/Cambridge_Bay
          - America/Campo_Grande
          - America/Cancun
          - America/Caracas
          - America/Catamarca
          - America/Cayenne
          - America/Cayman
          - America/Chicago
          - America/Chihuahua
          - America/Coral_Harbour
          - America/Cordoba
          - America/Costa_Rica
          - America/Creston
          - America/Cuiaba
          - America/Curacao
          - America/Danmarkshavn
          - America/Dawson
          - America/Dawson_Creek
          - America/Denver
          - America/Detroit
          - America/Dominica
          - America/Edmonton
          - America/Eirunepe
          - America/El_Salvador
          - America/Ensenada
          - America/Fort_Nelson
          - America/Fort_Wayne
          - America/Fortaleza
          - America/Glace_Bay
          - America/Godthab
          - America/Goose_Bay
          - America/Grand_Turk
          - America/Grenada
          - America/Guadeloupe
          - America/Guatemala
          - America/Guayaquil
          - America/Guyana
          - America/Halifax
          - America/Havana
          - America/Hermosillo
          - America/Indiana/Indianapolis
          - America/Indiana/Knox
          - America/Indiana/Marengo
          - America/Indiana/Petersburg
          - America/Indiana/Tell_City
          - America/Indiana/Vevay
          - America/Indiana/Vincennes
          - America/Indiana/Winamac
          - America/Indianapolis
          - America/Inuvik
          - America/Iqaluit
          - America/Jamaica
          - America/Jujuy
          - America/Juneau
          - America/Kentucky/Louisville
          - America/Kentucky/Monticello
          - America/Knox_IN
          - America/Kralendijk
          - America/La_Paz
          - America/Lima
          - America/Los_Angeles
          - America/Louisville
          - America/Lower_Princes
          - America/Maceio
          - America/Managua
          - America/Manaus
          - America/Marigot
          - America/Martinique
          - America/Matamoros
          - America/Mazatlan
          - America/Mendoza
          - America/Menominee
          - America/Merida
          - America/Metlakatla
          - America/Mexico_City
          - America/Miquelon
          - America/Moncton
          - America/Monterrey
          - America/Montevideo
          - America/Montreal
          - America/Montserrat
          - America/Nassau
          - America/New_York
          - America/Nipigon
          - America/Nome
          - America/Noronha
          - America/North_Dakota/Beulah
          - America/North_Dakota/Center
          - America/North_Dakota/New_Salem
          - America/Nuuk
          - America/Ojinaga
          - America/Panama
          - America/Pangnirtung
          - America/Paramaribo
          - America/Phoenix
          - America/Port-au-Prince
          - America/Port_of_Spain
          - America/Porto_Acre
          - America/Porto_Velho
          - America/Puerto_Rico
          - America/Punta_Arenas
          - America/Rainy_River
          - America/Rankin_Inlet
          - America/Recife
          - America/Regina
          - America/Resolute
          - America/Rio_Branco
          - America/Rosario
          - America/Santa_Isabel
          - America/Santarem
          - America/Santiago
          - America/Santo_Domingo
          - America/Sao_Paulo
          - America/Scoresbysund
          - America/Shiprock
          - America/Sitka
          - America/St_Barthelemy
          - America/St_Johns
          - America/St_Kitts
          - America/St_Lucia
          - America/St_Thomas
          - America/St_Vincent
          - America/Swift_Current
          - America/Tegucigalpa
          - America/Thule
          - America/Thunder_Bay
          - America/Tijuana
          - America/Toronto
          - America/Tortola
          - America/Vancouver
          - America/Virgin
          - America/Whitehorse
          - America/Winnipeg
          - America/Yakutat
          - America/Yellowknife
          - Antarctica/Casey
          - Antarctica/Davis
          - Antarctica/DumontDUrville
          - Antarctica/Macquarie
          - Antarctica/Mawson
          - Antarctica/McMurdo
          - Antarctica/Palmer
          - Antarctica/Rothera
          - Antarctica/South_Pole
          - Antarctica/Syowa
          - Antarctica/Troll
          - Antarctica/Vostok
          - Arctic/Longyearbyen
          - Asia/Aden
          - Asia/Almaty
          - Asia/Amman
          - Asia/Anadyr
          - Asia/Aqtau
          - Asia/Aqtobe
          - Asia/Ashgabat
          - Asia/Ashkhabad
          - Asia/Atyrau
          - Asia/Baghdad
          - Asia/Bahrain
          - Asia/Baku
          - Asia/Bangkok
          - Asia/Barnaul
          - Asia/Beirut
          - Asia/Bishkek
          - Asia/Brunei
          - Asia/Calcutta
          - Asia/Chita
          - Asia/Choibalsan
          - Asia/Chongqing
          - Asia/Chungking
          - Asia/Colombo
          - Asia/Dacca
          - Asia/Damascus
          - Asia/Dhaka
          - Asia/Dili
          - Asia/Dubai
          - Asia/Dushanbe
          - Asia/Famagusta
          - Asia/Gaza
          - Asia/Harbin
          - Asia/Hebron
          - Asia/Ho_Chi_Minh
          - Asia/Hong_Kong
          - Asia/Hovd
          - Asia/Irkutsk
          - Asia/Istanbul
          - Asia/Jakarta
          - Asia/Jayapura
          - Asia/Jerusalem
          - Asia/Kabul
          - Asia/Kamchatka
          - Asia/Karachi
          - Asia/Kashgar
          - Asia/Kathmandu
          - Asia/Katmandu
          - Asia/Khandyga
          - Asia/Kolkata
          - Asia/Krasnoyarsk
          - Asia/Kuala_Lumpur
          - Asia/Kuching
          - Asia/Kuwait
          - Asia/Macao
          - Asia/Macau
          - Asia/Magadan
          - Asia/Makassar
          - Asia/Manila
          - Asia/Muscat
          - Asia/Nicosia
          - Asia/Novokuznetsk
          - Asia/Novosibirsk
          - Asia/Omsk
          - Asia/Oral
          - Asia/Phnom_Penh
          - Asia/Pontianak
          - Asia/Pyongyang
          - Asia/Qatar
          - Asia/Qostanay
          - Asia/Qyzylorda
          - Asia/Rangoon
          - Asia/Riyadh
          - Asia/Saigon
          - Asia/Sakhalin
          - Asia/Samarkand
          - Asia/Seoul
          - Asia/Shanghai
          - Asia/Singapore
          - Asia/Srednekolymsk
          - Asia/Taipei
          - Asia/Tashkent
          - Asia/Tbilisi
          - Asia/Tehran
          - Asia/Tel_Aviv
          - Asia/Thimbu
          - Asia/Thimphu
          - Asia/Tokyo
          - Asia/Tomsk
          - Asia/Ujung_Pandang
          - Asia/Ulaanbaatar
          - Asia/Ulan_Bator
          - Asia/Urumqi
          - Asia/Ust-Nera
          - Asia/Vientiane
          - Asia/Vladivostok
          - Asia/Yakutsk
          - Asia/Yangon
          - Asia/Yekaterinburg
          - Asia/Yerevan
          - Atlantic/Azores
          - Atlantic/Bermuda
          - Atlantic/Canary
          - Atlantic/Cape_Verde
          - Atlantic/Faeroe
          - Atlantic/Faroe
          - Atlantic/Jan_Mayen
          - Atlantic/Madeira
          - Atlantic/Reykjavik
          - Atlantic/South_Georgia
          - Atlantic/St_Helena
          - Atlantic/Stanley
          - Australia/ACT
          - Australia/Adelaide
          - Australia/Brisbane
          - Australia/Broken_Hill
          - Australia/Canberra
          - Australia/Currie
          - Australia/Darwin
          - Australia/Eucla
          - Australia/Hobart
          - Australia/LHI
          - Australia/Lindeman
          - Australia/Lord_Howe
          - Australia/Melbourne
          - Australia/North
          - Australia/NSW
          - Australia/Perth
          - Australia/Queensland
          - Australia/South
          - Australia/Sydney
          - Australia/Tasmania
          - Australia/Victoria
          - Australia/West
          - Australia/Yancowinna
          - Brazil/Acre
          - Brazil/DeNoronha
          - Brazil/East
          - Brazil/West
          - Canada/Atlantic
          - Canada/Central
          - Canada/Eastern
          - Canada/Mountain
          - Canada/Newfoundland
          - Canada/Pacific
          - Canada/Saskatchewan
          - Canada/Yukon
          - CET
          - Chile/Continental
          - Chile/EasterIsland
          - CST6CDT
          - Cuba
          - EET
          - Egypt
          - Eire
          - EST
          - EST5EDT
          - Etc/GMT+0
          - Etc/GMT+1
          - Etc/GMT+10
          - Etc/GMT+11
          - Etc/GMT+12
          - Etc/GMT+2
          - Etc/GMT+3
          - Etc/GMT+4
          - Etc/GMT+5
          - Etc/GMT+6
          - Etc/GMT+7
          - Etc/GMT+8
          - Etc/GMT+9
          - Etc/GMT
          - Etc/GMT-0
          - Etc/GMT-1
          - Etc/GMT-10
          - Etc/GMT-11
          - Etc/GMT-12
          - Etc/GMT-13
          - Etc/GMT-14
          - Etc/GMT-2
          - Etc/GMT-3
          - Etc/GMT-4
          - Etc/GMT-5
          - Etc/GMT-6
          - Etc/GMT-7
          - Etc/GMT-8
          - Etc/GMT-9
          - Etc/GMT0
          - Etc/Greenwich
          - Etc/UCT
          - Etc/Universal
          - Etc/UTC
          - Etc/Zulu
          - Europe/Amsterdam
          - Europe/Andorra
          - Europe/Astrakhan
          - Europe/Athens
          - Europe/Belfast
          - Europe/Belgrade
          - Europe/Berlin
          - Europe/Bratislava
          - Europe/Brussels
          - Europe/Bucharest
          - Europe/Budapest
          - Europe/Busingen
          - Europe/Chisinau
          - Europe/Copenhagen
          - Europe/Dublin
          - Europe/Gibraltar
          - Europe/Guernsey
          - Europe/Helsinki
          - Europe/Isle_of_Man
          - Europe/Istanbul
          - Europe/Jersey
          - Europe/Kaliningrad
          - Europe/Kiev
          - Europe/Kirov
          - Europe/Lisbon
          - Europe/Ljubljana
          - Europe/London
          - Europe/Luxembourg
          - Europe/Madrid
          - Europe/Malta
          - Europe/Mariehamn
          - Europe/Minsk
          - Europe/Monaco
          - Europe/Moscow
          - Europe/Nicosia
          - Europe/Oslo
          - Europe/Paris
          - Europe/Podgorica
          - Europe/Prague
          - Europe/Riga
          - Europe/Rome
          - Europe/Samara
          - Europe/San_Marino
          - Europe/Sarajevo
          - Europe/Saratov
          - Europe/Simferopol
          - Europe/Skopje
          - Europe/Sofia
          - Europe/Stockholm
          - Europe/Tallinn
          - Europe/Tirane
          - Europe/Tiraspol
          - Europe/Ulyanovsk
          - Europe/Uzhgorod
          - Europe/Vaduz
          - Europe/Vatican
          - Europe/Vienna
          - Europe/Vilnius
          - Europe/Volgograd
          - Europe/Warsaw
          - Europe/Zagreb
          - Europe/Zaporozhye
          - Europe/Zurich
          - GB
          - GB-Eire
          - GMT+0
          - GMT
          - GMT-0
          - GMT0
          - Greenwich
          - Hongkong
          - HST
          - Iceland
          - Indian/Antananarivo
          - Indian/Chagos
          - Indian/Christmas
          - Indian/Cocos
          - Indian/Comoro
          - Indian/Kerguelen
          - Indian/Mahe
          - Indian/Maldives
          - Indian/Mauritius
          - Indian/Mayotte
          - Indian/Reunion
          - Iran
          - Israel
          - Jamaica
          - Japan
          - Kwajalein
          - Libya
          - MET
          - Mexico/BajaNorte
          - Mexico/BajaSur
          - Mexico/General
          - MST
          - MST7MDT
          - Navajo
          - NZ
          - NZ-CHAT
          - Pacific/Apia
          - Pacific/Auckland
          - Pacific/Bougainville
          - Pacific/Chatham
          - Pacific/Chuuk
          - Pacific/Easter
          - Pacific/Efate
          - Pacific/Enderbury
          - Pacific/Fakaofo
          - Pacific/Fiji
          - Pacific/Funafuti
          - Pacific/Galapagos
          - Pacific/Gambier
          - Pacific/Guadalcanal
          - Pacific/Guam
          - Pacific/Honolulu
          - Pacific/Johnston
          - Pacific/Kanton
          - Pacific/Kiritimati
          - Pacific/Kosrae
          - Pacific/Kwajalein
          - Pacific/Majuro
          - Pacific/Marquesas
          - Pacific/Midway
          - Pacific/Nauru
          - Pacific/Niue
          - Pacific/Norfolk
          - Pacific/Noumea
          - Pacific/Pago_Pago
          - Pacific/Palau
          - Pacific/Pitcairn
          - Pacific/Pohnpei
          - Pacific/Ponape
          - Pacific/Port_Moresby
          - Pacific/Rarotonga
          - Pacific/Saipan
          - Pacific/Samoa
          - Pacific/Tahiti
          - Pacific/Tarawa
          - Pacific/Tongatapu
          - Pacific/Truk
          - Pacific/Wake
          - Pacific/Wallis
          - Pacific/Yap
          - Poland
          - Portugal
          - PRC
          - PST8PDT
          - ROC
          - ROK
          - Singapore
          - Turkey
          - UCT
          - Universal
          - US/Alaska
          - US/Aleutian
          - US/Arizona
          - US/Central
          - US/East-Indiana
          - US/Eastern
          - US/Hawaii
          - US/Indiana-Starke
          - US/Michigan
          - US/Mountain
          - US/Pacific
          - US/Samoa
          - UTC
          - W-SU
          - WET
          - Zulu
          example: Asia/Kolkata
          type: string
      required:
      - distinct_id
      type: object
    inline_response_200_channel_inapp:
      properties:
        integration_id:
          description: The integration ID that was used to generate the above token. If this value is null, then the above token is used for all InApp integrations.<br/><br/>The integration ID can be verified from Fyno's integrations page.
          example: IXXXXXXX
          type: string
        status:
          description: The status of the token. If `1`, the token is active and should receive notifications. If `0`, the token in inactive and should not receive notifications.
          enum:
          - 1
          - 0
          example: 1
          type: integer
        token:
          description: Enter the distinct ID or the generated token of the user.
          example: XXXXXXXX
          type: string
      type: object
      required:
      - token
    WSIDversionprofilesdistinct_idchannel_channel_push:
      properties:
        integration_id:
          description: (Optional) Enter the integration ID that was used to generate the above token. This is helpful in identifying which integration to use when an account has multiple push integrations. If this value is null, then the above token is used for all push integrations.<br/><br/>The integration ID can be obtained from Fyno's integrations page.
          example: IXXXXXXX
          type: string
        status:
          description: (Optional) Enter 1 to specify that this token must be active and should receive notifications. Enter 0 to specify that this token must be inactive and should not receive any notifications. If null, the default value is 1.
          enum:
          - 1
          - 0
          type: integer
        token:
          description: Enter the new push token that to add for the user. If you use OneSignal, you must add the following prefix to the token:<br/><br/>- <b>For OneSignal playerId&#58;</b> `onesignal_player_id:`<enter_playerid><br/>- <b>For OneSignal externalId&#58;</b> `onesignal_external_id:`<enter_externalid><br/><br/> **Note&#58;** This value would get added (and not updated) to the channel data.
          example: ExponentPushToken[XXXXX]
          type: string
      required:
      - token
      type: object
    WSIDversionprofilesdistinct_idchannel_channel_inapp:
      properties:
        integration_id:
          description: (Optional) Enter the integration ID that was used to generate the above token. This is helpful in identifying which integration to use when an account has multiple InApp integrations. If this value is null, then the above token is used for all InApp integrations.<br/><br/>The integration ID can be obtained from Fyno's integrations page.
          example: IXXXXXXX
          type: string
        status:
          description: (Optional) Enter 1 to specify that this token must be active and should receive notifications. Enter 0 to specify that this token must be inactive and should not receive any notifications. If null, the default value is 1.
          enum:
          - 1
          - 0
          type: integer
        token:
          description: Enter the new distinct ID or the generated token to add for the user.<br/><br/>**Note&#58;** This value would get added (and not updated) to the channel data.
          example: XXXXXXXX
          type: string
      required:
      - token
      type: object
    WSIDversionprofiles_channel:
      properties:
        discord:
          description: Enter the discord ID of the user.
          example: 101XXXXXXXXXX7XXXXX
          type: string
        email:
          description: Enter the email address of the user.
          example: abcde@fghi.com
          type: string
        inapp:
          items:
            $ref: '#/components/schemas/WSIDversionprofiles_channel_inapp'
          type: array
        push:
          items:
            $ref: '#/components/schemas/WSIDversionprofiles_channel_push'
          type: array
        slack:
          description: Enter the channel ID, user ID, or email address of the user.
          example: CXXXXXXXXXX
          type: string
        sms:
          description: Enter the mobile number of the user. The number must start with the country code (preferably in E.164 format). For example&#58; +919879XXXXXX.
          example: +919879XXXXXX
          type: string
        teams:
          description: Enter the channel name. For teams, we currently support sending to one channel only. To send to multiple channels, do get in touch and we can share a workaround.
          example: General
          type: string
        voice:
          description: Enter the mobile number of the user. The number must start with the country code (preferably in E.164 format). For example&#58; +919879XXXXXX.
          example: +919879XXXXXX
          type: string
        whatsapp:
          description: Enter the WhatsApp mobile number of the user. The number must start with the country code (preferably in E.164 format). For example&#58; +919879XXXXXX
          example: +919879XXXXXX
          type: string
      type: object
    channel_delete_body:
      oneOf:
      - properties:
          channel:
            description: Enter all channels for which you wish to delete the data. For example&#58; `sms`, `whatsapp`, `email`, `slack`, `discord`, `teams`, `voice``push`, `inapp`.
            example:
            - sms
            - whatsapp
            - email
            - slack
            - discord
            - teams
            - voice
            - push
            - inapp
            items:
              example: '["sms","whatsapp","email","slack","discord","teams","voice","push","inapp"]'
              type: string
            type: array
        required:
        - channel
        type: object
      - properties:
          inapp:
            description: Enter the tokens to delete from within the InApp channel.
            example:
            - token1
            - token2
            items:
              example: '["token1","token2"]'
              type: string
            type: array
          push:
            description: Enter the tokens to delete from within the Push channel.
            example:
            - token1
            - token2
            items:
              example: '["token1","token2"]'
              type: string
            type: array
        required:
        - inapp
        - push
        type: object
    WSIDversionprofilesdistinct_id_channel_inapp:
      properties:
        integration_id:
          description: (Optional) Enter the integration ID that was used to generate the above token. This is helpful in identifying which integration to use when an account has multiple InApp integrations. If this value is null, then the above token is used for all InApp integrations.<br/><br/>The integration ID can be obtained from Fyno's integrations page.
          example: IXXXXXXX
          type: string
        status:
          description: (Optional) Enter 1 to specify that this token must be active and should receive notifications. Enter 0 to specify that this token must be inactive and should not receive any notifications. If null, the default value is 1.
          enum:
          - 1
          - 0
          type: integer
        token:
          description: Enter the new distinct ID or the generated token of the user.
          example: XXXXXXXX
          type: string
      required:
      - token
      type: object
    WSIDversionprofilesdistinct_id_channel_push:
      properties:
        integration_id:
          description: (Optional) Enter the integration ID that was used to generate the above token. This is helpful in identifying which integration to use when an account has multiple push integrations. If this value is null, then the above token is used for all push integrations.<br/><br/>The integration ID can be obtained from Fyno's integrations page.
          example: IXXXXXXX
          type: string
        status:
          description: (Optional) Enter 1 to specify that this token must be active and should receive notifications. Enter 0 to specify that this token must be inactive and should not receive any notifications. If null, the default value is 1.
          enum:
          - 1
          - 0
          type: integer
        token:
          description: Enter the new push token of the user. If you use OneSignal, you must add the following prefix to the token:<br/><br/>- <b>For OneSignal playerId&#58;</b> `onesignal_player_id:`<enter_playerid><br/>- <b>For OneSignal externalId&#58;</b> `onesignal_external_id:`<enter_externalid><br/>
          example: ExponentPushToken[XXXXX]
          type: string
      required:
      - token
      type: object
    distinct_id_channel_body:
      properties:
        channel:
          $ref: '#/components/schemas/WSIDversionprofilesdistinct_idchannel_channel'
      required:
      - channel
      type: object
    WSIDversionprofilesdistinct_idchannel_channel:
      properties:
        discord:
          description: Enter the new discord ID of the user. If you do not wish to change this value, remove this key from the payload.
          example: 101XXXXXXXXXX7XXXXX
          type: string
        email:
          description: Enter the new email address of the user. If you do not wish to change this value, remove this key from the payload.
          example: abcde@fghi.com
          type: string
        inapp:
          items:
            $ref: '#/components/schemas/WSIDversionprofilesdistinct_idchannel_channel_inapp'
          type: array
        push:
          items:
            $ref: '#/components/schemas/WSIDversionprofilesdistinct_idchannel_channel_push'
          type: array
        slack:
          description: Enter the new channel ID, user ID, or email address of the user. If you do not wish to change this value, remove this key from the payload.
          example: CXXXXXXXXXX
          type: string
        sms:
          description: Enter the new mobile number of the user. The number must start with the country code (preferably in E.164 format). For example&#58; +919879XXXXXX. If you do not wish to change this value, remove this key from the payload.
          example: +919879XXXXXX
          type: string
        teams:
          description: Enter the new channel name. For teams, we currently support sending to one channel only. If you wish to send to multiple channels, do get in touch and we can share a workaround. If you do not wish to change this value, remove this key from the payload.
          example: General
          type: string
        voice:
          description: Enter the new mobile number of the user. The number must start with the country code (preferably in E.164 format). For example&#58; +919879XXXXXX. If you do not wish to change this value, remove this key from the payload.
          example: +919879XXXXXX
          type: string
        whatsapp:
          description: Enter the new WhatsApp mobile number of the user. The number must start with the country code (preferably in E.164 format). For example&#58; +919879XXXXXX. If you do not wish to change this value, remove this key from the payload.
          example: +919879XXXXXX
          type: string
      type: object
    WSIDversionprofiles_channel_push:
      properties:
        integration_id:
          description: (Optional) Enter the integration ID that was used to generate the above token. This is helpful in identifying which integration to use when an account has multiple push integrations. If this value is null, then the above token is used for all push integrations.<br/><br/>The integration ID can be obtained from Fyno's integrations page.
          example: IXXXXXXX
          type: string
        status:
          description: (Optional) Enter 1 to specify that this token must be active and should receive notifications. Enter 0 to specify that this token must be inactive and should not receive any notifications. If null, the default value is 1.
          enum:
          - 1
          - 0
          type: integer
        token:
          description: Enter the push token of the user. If you use OneSignal, you must add the following prefix to the token:<br/><br/>- <b>For OneSignal playerId&#58;</b> `onesignal_player_id:`<enter_playerid><br/>- <b>For OneSignal externalId&#58;</b> `onesignal_external_id:`<enter_externalid><br/>
          example: ExponentPushToken[XXXXX]
          type: string
      required:
      - token
      type: object
    inline_response_200_channel_push:
      properties:
        integration_id:
          description: The integration ID that was used to generate the above token. If this value is null, then the above token is used for all push integrations.<br/><br/>The integration ID can be verified from Fyno's integrations page.
          example: IXXXXXXX
          type: string
        status:
          description: The status of the token. If `1`, the token is active and should receive notifications. If `0`, the token in inactive and should not receive notifications.
          enum:
          - 1
          - 0
          example: 1
          type: integer
        token:
          description: The push token of the user.
          example: ExponentPushToken[XXXXX]
          type: string
      type: object
    WSIDversionprofiles_channel_inapp:
      properties:
        integration_id:
          description: (Optional) Enter the integration ID that was used to generate the above token. This is helpful in identifying which integration to use when an account has multiple InApp integrations. If this value is null, then the above token is used for all InApp integrations.<br/><br/>The integration ID can be obtained from Fyno's integrations page.
          example: IXXXXXXX
          type: string
        status:
          description: (Optional) Enter 1 to specify that this token must be active and should receive notifications. Enter 0 to specify that this token must be inactive and should not receive any notifications. If null, the default value is 1.
          enum:
          - 1
          - 0
          type: integer
        token:
          description: Enter the distinct ID or the generated token of the user.
          example: XXXXXXXX
          type: string
      required:
      - token
      type: object
  responses:
    APIKeyInvalid:
      description: API Key or Workspace ID is invalid. User is unauthorised.
      content:
        application/json:
          schema:
            properties:
              _message:
                example: Invalid API details
                type: string
              status:
                example: error
                type: string
            type: object
            required:
            - _message
            - status
    ProfileMergedSuccessfully:
      description: Profiles merged successfully and the source profile is deleted
      content:
        application/json:
          schema:
            properties:
              _message:
                example: 1 Record(s) updated and 1 Records(s) deleted
                type: string
              status:
                example: ok
                type: string
            type: object
            required:
            - _message
            - status
    ProfileChannelUpdated:
      description: Profile updated successfully
      content:
        application/json:
          schema:
            properties:
              _message:
                example: Channel has been modified successfully
                type: string
              status:
                example: ok
                type: string
            type: object
            required:
            - _message
            - status
    DistinctIDDoesNotExist2:
      description: Distinct ID does not exist
      content:
        application/json:
          schema:
            properties:
              _message:
                example: Cannot delete non existing user
                type: string
              status:
                example: error
                type: string
            type: object
            required:
            - _message
            - status
    DistinctIDAlreadyExists:
      description: Distinct ID already exists
      content:
        application/json:
          schema:
            properties:
              _message:
                example: Distinct ID 'distinct_id' already exists in the 'version' version of your workspace
                type: string
              status:
                example: error
                type: string
            type: object
            required:
            - _message
            - status
    ProfileFetched:
      description: Profile fetched successfully
      content:
        application/json:
          schema:
            properties:
              channel:
                $ref: '#/components/schemas/inline_response_200_channel'
              country_code:
                description: The country code of the user. This value is automatically determined based on the number provided in the SMS channel of the profile. For a list of possible values, please <a href="https://content.fyno.io/docs/files/country_code.json" target="_blank">click here</a>.
                example: IN
                type: string
              created_at:
                description: The timestamp when the profile was created in ISO Date Time Format.
                example: '2023-04-21T06:34:01.386Z'
                type: string
              distinct_id:
                description: The distinct ID used to identify the user.
                example: XXXXXXXX
                type: string
              id_list:
                description: Other profile IDs previously linked to this profile.
                items:
                  example: 6442XXXXXXXXXXXXXXXXc684
                type: array
              name:
                description: The full name of the user.
                example: John Doe
                type: string
              profile_id:
                description: Unique profile ID within Fyno.
                example: 6442XXXXXXXXXXXXXXXXc685
                type: string
              status:
                description: The status of the user. If `1`, the user is active and should receive notifications. If `0`, the user in inactive and should not receive notifications.
                enum:
                - 1
                - 0
                example: 1
                type: integer
              timezone:
                description: The timezone of the user. For a list of possible values, please <a href="https://content.fyno.io/docs/files/timezones.json" target="_blank">click here</a>.
                example: Asia/Kolkata
                type: string
              timezone_offset:
                description: The timezone offset of the user. The value is automatically determined based on the timezone provided for the user in the profile.
                example: +05:30
                type: string
              updated_at:
                description: The timestamp when the profile was last updated in ISO Date Time Format.
                example: '2023-04-21T08:42:30.235Z'
                type: string
              version:
                description: The version where the user profile is available.
                enum:
                - live
                - test
                example: test
                type: string
            type: object
            required:
            - distinct_id
            - country_code
            - timezone
            - timezone_offset
            - created_at
            - updated_at
            - channel
            - properties
            - status
            - id_list
            - profile_id
            - version
            - channel_raw
    DistinctIDDoesNotExist3:
      description: Distinct ID does not exist
      content:
        application/json:
          schema:
            properties:
              _message:
                example: Unable to update the record since the record does not exist
                type: string
              status:
                example: error
                type: string
            type: object
            required:
            - _message
            - status
    ProfileDeletedSuccessfully:
      description: Profile deleted successfully
      content:
        application/json:
          schema:
            properties:
              _message:
                example: 1 User(s) deleted successfully
                type: string
              status:
                example: ok
                type: string
            type: object
            required:
            - _message
            - status
    DistinctIDDoesNotExist:
      description: Distinct ID does not exist
      content:
        application/json:
          schema:
            properties:
              _message:
                example: incorrect/non existing distinct_id provided
                type: string
              status:
                example: error
                type: string
            type: object
            required:
            - _message
            - status
    SourceDistinctIDDoesNotExist:
      description: Source distinct ID does not exist
      content:
        application/json:
          schema:
            properties:
              _message:
                example: merge from id does not exist
                type: string
              status:
                example: error
                type: string
            type: object
            required:
            - _message
            - status
    ProfileCreatedSuccessfully:
      description: Profile created successfully
      content:
        application/json:
          schema:
            properties:
              _message:
                example: Profile created successfully
                type: string
              status:
                example: ok
                type: string
            type: object
            required:
            - _message
            - status
    DistinctIDOrChannelDataDoesNotExist:
      description: Distinct ID or channel data does not exist
      content:
        application/json:
          schema:
            properties:
              _message:
                example: Unable to delete channel since the channel does not exist
                type: string
              status:
                example: error
                type: string
            type: object
            required:
            - _message
            - status
    ProfileUpdated:
      description: Profile updated successfully
      content:
        application/json:
          schema:
            properties:
              _message:
                example: 1 Record(s) updated successfully
                type: string
              status:
                example: ok
                type: string
            type: object
            required:
            - _message
            - status
  securitySchemes:
    BearerAuth:
      type: http
      description: Enter your API Key. If you don't have it already, you can create one from the API Keys page within your Fyno account
      scheme: bearer
      x-fern-bearer:
        name: apiKey
        env: FYNO_API_KEY
